{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
    <div class="col-sm-10">
        <h2 class="my-5">About Page</h2>
        <h4>This is Sahin Alom. I am a student of Geeky Shows. I always follow this channel to learn new technology</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, culpa dolores. Soluta ut magni sapiente ipsum corrupti, obcaecati earum pariatur officiis blanditiis at, aperiam molestias modi ex ea voluptatum nulla minus porro iure sit eaque, ratione animi similique inventore? Fugiat facere iste natus assumenda illum suscipit nobis maxime eius, ipsum quas vero excepturi sunt amet culpa ipsam eligendi voluptatum doloribus quasi hic! Aperiam dolorem autem reiciendis eligendi natus ipsum quis error aliquam, molestias voluptates iure dolore. Modi consequatur tempora aspernatur doloribus? Soluta ducimus facere minima culpa ab saepe illum dignissimos ex repellat consectetur neque distinctio, quo a quam magni eos ullam optio rerum voluptate ad eius? Consequuntur, magnam quis repellendus eos recusandae explicabo quia ipsam expedita beatae at atque accusantium.</p>    
    </div>
{% endblock content %}