{% extends 'blog/base.html' %}
{% load static %}

{% block msg %}
    {% if messages %}
    {% for mess in messages %}
    <p {% if mess.tags %} class="alert alert-{{mess.tags}}" {% endif %}>{{mess}}</p>
    {% endfor %}
    {% endif %}            
{% endblock msg %}

{% block side %} 
 <div class="col-sm-2 text-white text-center">
  <h3 class="my-5">Profile</h3>
  <h5>{{full_name}}</h5>
  {% for group in groups %}
   <p>{{group.name}}</p>
  {% endfor %}
  
 </div>
{% endblock side %}

{% block content %}
 <div class="col-sm-9 offset-1">
   <h2 class="my-5">Your Dashboard</h2>
   <a href="{% url 'addpost' %}" class="btn btn-success">New Post</a>
   <h4 class="alert alert-info my-3 text-center">Your all Posted Informations</h4>
   {% if posts %}
    <table class="table table-hover bg-white">
        <thead>
            <tr class="text-center">
                <th scope="col" style="width:2%">ID</th>
                <th scope="col" style="width:28%">TITLE</th>
                <th scope="col" style="width:55%">DESCRIPTION</th>
                <th scope="col" style="width:15%">ACTION</th>
            </tr>

        </thead>
        <tbody>
            {% for post in posts %}
              <tr class="">
                <td>{{post.id}}</td>
                <td>{{post.title}}</td>
                <td>{{post.desc}}</td>
                <td>
                    <a href="{% url 'updatepost' post.id %}" class="btn btn-warning btn-sm">Edit</a>
                    {% if perms.blog.delete_post %}
                    <form action="{% url 'deletepost' post.id %}" class="d-inline" method="post">
                     {% csrf_token %}
                     <input type="submit" class="btn btn-danger btn-sm" value="Delete">
                    </form>
                    {% endif %}
                </td>
              </tr>
              <br>
            
            {% endfor %}
        </tbody>
    </table>
   {% endif %}
    
        
 </div>
{% endblock content %}